extends ../layout.jade
include ../mixins/newsMixins.jade


block content
    article.newsSection
        header
            h2.sectionHeadline Последние новости
    div.newsListSection
        +newsContentMixin()
    