extends ../layout.jade
include ../mixins/photoMixins.jade

block head
  -var selected = 'Фотоальбом'

block content
    article.photoSection
        header
            h2.sectionHeadline Фотоальбом
    article.photoSection
        div.photoListSection
           +photoContentMixin()