extends ../layout.jade
include ../mixins/photoMixins.jade


block content
    article.photoSection
        header
            h2.sectionHeadline Фотоальбом
    article.photoSection
        div.photoListSection
           +photoContentMixin()