extends ../layout.jade
include ../mixins/sheduleMixins.jade

block content
    header
        article.rozkladSection
            h2.sectionHeadline Мое расписание
    article.rozkladSection
        table.rozklad
            thead
                tr.rozklad-header-row
                    th Вторник
                    th Среда
                    th Четверг
                    th Пятница
                    th Суббота
                tbody
                    +sheduleContentMixin()