html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #E7E7E7;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 960px;
	margin: auto;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.headerTitleSection {
	padding: 30px;
	background-color: #5CCCCC;
	box-shadow: 0 0 15px rgba(0,0,0,0.5); 
}

.headerRectangles {
	display: flex;
}

.headerRect {
	height: 25px;
}

/* Main colors theme

.firstHeaderRect {
	background-color: #1D7373;
}

.secondHeaderRect {
	background-color: #006363;
}

.thirdHeaderRect {
	background-color: #009999;
}

.fourthHeaderRect {
	background-color: #33CCCC;
}

.fifthHeaderRect {
	background-color: #006363;
}
*/
.smallerHeaderRect {
	flex: 1;
	margin-right: 10px;
}

.biggerHeaderRect {
	flex: 5;
	background-color: #33CCCC;
}

.headerTitles {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
}

.titleContainer {
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.headlineTitle {
	font-size: 64px;
	color: #111111;
}

.secondaryTitle {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
}

.navContainer {
	height: 57px;
	border-radius: 5px;
	background-image: linear-gradient(0deg,  #B3B3B3 1%, #FFFFFF 100%);
	display: flex;
	flex-direction: row;
	flex: 1;
	margin-top: 3px;
	margin-bottom: 10px;
	@include box-shadow(0, 10px, 6px, -6px, #777);
}
.navMenuContainer {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
}
.socialNavContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.socialNavIcon {
	margin-right: 20px;
	height: 37px;
	line-height: 37px;
	display: block;
}
.navHome {
	margin: 10px 0;
}

.navElementSelected {
	height: 57px;
	@include box-shadow(inset, 0, 0, 5px, #000000);
	box-sizing: border-box;
	border-bottom: 3px solid skyblue
}

.navElement:hover {
	border-top: 3px solid #111;
}

.navText {
	padding-left: 25px;
	padding-right: 25px;
	font-size: 16px;
	color: #111;
	text-decoration: none;
	height: 57px;
	line-height: 57px;
	display: block;
}

.navBorder {
	@include box-shadow(1px, 0, 0px, rgba(138,138,138,0.6));
}
.scrollTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.contentSection {
	flex: 1;
	background-color: #FFFFFF;
}

.footer {
	background-color: #3CCCCC;
	color: #111111;
}
.footer:hover {
	background-color: #1D7373;
	color: #FFFFFF;
}

.footerText {
	display: block;
	padding: 5px;
	text-align: center;
	color: inherit;
}

.footerText > a {
	color: inherit;
}