doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', type='text/css', href='css/dist/main.min.css')
        block head
            title LabsGev
            -var selected = 'main'
        -var menu = { 'Главная': 'index.html', 'Мое расписание': 'rozklad.html', 'Фотоальбом': 'photo.html', 'Последние новости': 'news.html' }
    body
        div.content
            a(name="top")
            <!--[if lte IE 7]>
            div
                span InternetExplorer 7 users, please gtfo and install GoogleChrome/FF/Opera/Safari, ty.
            <![endif]-->
            header
              div.headerTitleSection
                  div.titleContainer
                  h1.headlineTitle Личная страница(блог) Гречко Евгений Владимирович
            nav.navContainer
                ul.navMenuContainer
                    each val, key in menu
                        li(class={ navElement: key !== selected, navBorder: key !== 'Последние новости' && key !== selected, navElementSelected: key === selected })
                            if key === 'Главная'
                                a(href=val, class={ navText: true })
                                    img(src='./images/home-icon.png').navHome
                            else
                                a(href=val, class={ navText: true })=key
                ul.socialNavContainer
                    li
                        a(href='https://facebook.com/').socialNavIcon
                            img(src='./images/like.png')
                    li
                        a(href='https://twitter.com/').socialNavIcon
                            img(src='./images/twitter.png')
                    li
                        a(href='https://google.com/').socialNavIcon
                            img(src='./images/google-plus.png')

            section.contentSection
                block content
            footer.footer
                span.footerText
                    | Copyright 2017. All rights reserved. 
                    a(href='mailto:example@example.com') Mail me
            a(href='#top').scrollTop Scroll To Top